
/**
    Center the logo
*/
.imageContainer{
        position: absolute;
        width: 745px; /*the image width*/
        height: 330px; /*the image height*/
        left: 50%;
        top: 30%;
        margin-left: -372px; /*half the image width*/
        margin-top: -165px; /*half the image height*/
    }


#navmenu ul {
    list-style-type: none;
    margin-left: 30%;
    margin-top: 15%;
    padding: 10%;
    text-align: center;
}

#navmenu li {
    
    float: left;
    padding: 5px 20px 5px 20px;

}